.sidebar{
    position : fixed;
    left : 0;
    bottom : 0;
    top : 55px;
    width : 100px;
    background-color: white;
    z-index: 200;
    padding-top:6px;
}
.sidebar-link{
    height: 100px;
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items:center;
    cursor : pointer;
}
.sidebar-link:hover{
    background-color: rgb(235,235,235);
}
.sidebar-link img {
    height : 50px;
    width : 60px;
    margin-bottom : 4px;
}
.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 13px;
    
}